<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Audio Matching</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='css/games/answer/word-audio-matching-answer.css')}} ">
</head>
<body>
    <header>
        <p id="display-activity-title"></p>
        <h3 id="question-number-display">Question</h3>
        <button id="to-dashboard-page-button"></button>
    </header>
    <section class="question-container">
        <p class="question" id="question-text"></p> <!-- for prefix -->
        <!-- Add another p element for the meaning -->
    </section>
    <!-- Add another section for another question container -->
    <section class="choices-container">
        <div class="choice-box">
            <label class="choice-label"> 
                <input type="radio" name="question_choice" value="a">
                <p class="choice-letter">A.</p>
                <span class="choice-text">Choice A Text</span>
            </label>
        </div>

        <div class="choice-box">
            <label class="choice-label">
                <input type="radio" name="question_choice" value="b">
                <p class="choice-letter">B.</p>
                <span class="choice-text">Choice B Text</span>
            </label>
        </div>

    </section>
    
    <div id="answer-container">
        <table>
            <thead>
                <tr>
                    <th>Question No.</th>
                    <th>Answer</th>
                    <th>Correct Answer</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                
            </tbdody>
        </table>
    </div>

    <div id="button-container">
        <button id="previous-button">Previous</button>
        <button id="next-button">Next</button>
    </div>
    
    <script src=" {{url_for('static', filename='js/games/answer/word-audio-match-answer.js')}} "></script>
</body>
</html>