<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Audio Matching</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base/games/edit/answer-game-layout.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/stylish-icons/sparkle-01.svg')  }}"> 
</head>
<body>
    <header>
        <p id="display-activity-title"></p>
        <h3 id="question-number-display">Question</h3>
        <button id="to-dashboard-page-button"></button>
    </header>
    <section class="question-container">
        <div id="image-display"></div>
        <p class="question" id="question-text"></p> <!-- revert from keyword -> question -->
        <button id="tts-speaker-button">
        <img src="{{url_for('static', filename='images/tts-icons/tts-play-icon.svg')}}" alt="play-icon"/>
        Play Me
    </section>
    <section class="choices-container">
        <div class="choice-box">
            <label class="choice-label"> 
                <input type="radio" name="answer" value="a" id="answer-a">
                <p class="choice-letter">A.</p>
                <span class="choice-text" id="choice-a">Choice A Text</span>
            </label>
        </div>

        <div class="choice-box">
            <label class="choice-label">
                <input type="radio" name="answer" value="b" id="answer-b">
                <p class="choice-letter">B.</p>
                <span class="choice-text" id="choice-b">Choice B Text</span>
            </label>
        </div>
        <div class="choice-box">
            <label class="choice-label">
                <input type="radio" name="answer" value="c" id="answer-c">
                <p class="choice-letter">C.</p>
                <span class="choice-text" id="choice-c">Choice B Text</span>
            </label>
        </div>

    </section>
    
    <div id="answer-container">
        <table>
            <thead>
                <tr>
                    <th>Question No.</th>
                    <th>Answer</th>
                    <th>Correct Answer</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                
            </tbdody>
        </table>
    </div>

    <div id="button-container">
        <button id="previous-button">Previous</button>
        <button id="next-button">Next</button>
    </div>
    
    <script type=module src=" {{url_for('static', filename='js/games/answer/picture-clues-answer.js')}} "></script>
</body>
</html>