<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Game | What Happens Next?</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base/games/edit/edit-game-layout.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/stylish-icons/sparkle-01.svg')  }}">   
</head>
<body>
    <header>
        <div id="category-and-game-type">
            <span id="category-display"></span>
            <span id="content-display"></span>
        </div>
        <p id="display-activity-title"></p>
        <button id="to-teacher-page-button">Save and Exit</button>
    </header>
    <!-- Section 1: Title -->
    <section class="input-section">
        <div class="number-badge">1</div>
        <div class="input-content">
            <label for="key-word">
                <strong>Title:</strong>
            </label>
            <input type="text" id="passage-title" name="passage-title" placeholder="Enter passage title here">
        </div>
    </section>

    <!-- Section 2: Passage -->
    <section class="input-section">
        <div class="number-badge">2</div>
        <div class="input-content">
            <label for="sentence">
                <strong>Passage:</strong>
            </label>
            <textarea id="passage" name="passage" placeholder="Enter passage or short story here"></textarea>
        </div>
        <div class="tts-buttons">
            <button class="tts-button convert-button" id="tts-convert-button-2">
                <img src="{{url_for('static', filename='images/tts-convert-icon.png')}}" alt="convert-icon"/>
                <span>Convert Text-to-Speech</spam>
            <button class="tts-button play-button" id="tts-play-button-2">
                <img src="{{url_for('static', filename='images/tts-play-icon.png')}}" alt="play-icon"/>  
                <span>Play Text-to-Speech</span>
            </button>
        </div>
    </section>
    
    <section id="main-sheet-container">
        <section id="choices-container">
            <p><strong>Instruction:</strong> Choose what happens next in the story.</p>
            <div id="choice-box-container">
                <div class="choice-box">
                    <p class="choice-letter">A.</p>
                    <input class="choice" id="choice-a" type="text" placeholder="Enter a choice">
                </div>
                <div class="choice-box">
                    <p class="choice-letter">B.</p>
                    <input class="choice" id="choice-b" type="text" placeholder="Enter a choice">
                </div>
                <div class="choice-box">
                    <p class="choice-letter">C.</p>
                    <input class="choice" id="choice-c" type="text" placeholder="Enter a choice">
                </div>
            </div>
    
        </section>
        <aside id="answer-container">
            <h3>Choose Correct Answer:</h3>
            <div class="answer-options">
                <input type="radio" id="answer-a" name="answer" value="a">
                <label for="answer-a">A</label>
                <input type="radio" id="answer-b" name="answer" value="b">
                <label for="answer-b">B</label>
                <input type="radio" id="answer-c" name="answer" value="c">
                <label for="answer-c">C</label>
            </div>
        </aside>

    </section>
    <div id="button-container">
        <button id="previous-button">Previous</button>
        <section>
            <button id="save-button">Save</button>
            <button id="edit-button">Edit</button>
        </section>
        <button id="next-button">Next</button>

    </div>
    
    <script type="module" src="{{url_for('static', filename='js/games/edit/what-happens-next-edit.js')}}"></script>
</body>
</html>