<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What Happens Next?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/edit/what-happens-next-edit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/sidebar.css') }}">


</head>
<body>
 <!-- Ionicons script tags for module and nomodule support -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <div id="side-bar">
    <!-- <header>
            <img src="{{url_for('static', filename='images/kdr-logo.png')}}" />
            <span>Kid-Do-Reads</span>
        </header> -->

        <aside>
            <section id="teacher-info">
                <img alt="image" id="teacher_picture">
                <span id="teacher_name">Teacher</span>
            </section>
            <ul>
                <li class="toggle-user" id="activities-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}" />
                    <span>Activities</span>
                </li>
                <li id="assessments-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}" />
                    <span>Assessments</span>
                </li>                
                <li id="progress-record-button">
                    <img src="{{url_for('static', filename='images/circle-progress-indicator.png') }}" />
                    <span>Student Progress</span>
                </li>
                <li id="log-out-button">
                    <ion-icon name="log-out"></ion-icon>
                    <span>Log Out</span>
                </li>
            </ul>
            
        </aside>
    </div>
    
    <section id="content">
        <header>
            <p id="display-activity-title">Display Activity</p>
            <button id="to-teacher-page-button">Save and Exit</button>
        </header>

        <section id="passage-container">
            <input type="text" id="passage" name="" placeholder="Enter your passage here">
        </section>

    <section id="choices-container">
        <div class="choice-box">
            <p class="choice-letter">A.</p>
            <input class="choice" id="choice-a" type="text" placeholder="Enter a choice">
        </div>
        <div class="choice-box">
            <p class="choice-letter">B.</p>
            <input class="choice" id="choice-b" type="text" placeholder="Enter a choice">
        </div>
        <div class="choice-box">
            <p class="choice-letter">C.</p>
            <input class="choice" id="choice-c" type="text" placeholder="Enter a choice">
        </div>
    </section>

    <aside id="answer-container">
        <h3>Choose an Answer:</h3>
        <div class="answer-options">
            <input type="radio" id="answer-a" name="answer" value="a">
            <label for="answer-a">A</label>
            <input type="radio" id="answer-b" name="answer" value="b">
            <label for="answer-b">B</label>
            <input type="radio" id="answer-c" name="answer" value="c">
            <label for="answer-c">C</label>
        </div>
    </aside>
    <div id="button-container">
        <button id="previous-button">Previous</button>
            <section>
                <button id="save-button">Save</button>
                <!-- <button id="edit-button">Edit</button> -->
            </section>
        <button id="next-button">Next</button>

    </div>
    </section>
    
    <script type=module src="{{ url_for('static', filename='js/games/edit/what-happens-next-edit.js') }}"></script>


    
</body>
</html>