<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and responsive viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidDoReads</title>
    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-dashboard.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/kdr-logo.png')  }}">
</head>
<body>
    <!-- Ionicons script tags for module and nomodule support -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/kdr-logo.png')  }}">
    <header>
        <img src="{{url_for('static', filename='images/kdr-logo.png')}}" />
        <span>Kid-Do-Reads</span>
    </header>

    <main>
        <aside>
            <section id="student-info">
                <img alt="image" id="student_picture">
                <span id="student_name">Student</span>
            </section>
            <ul>
                <li id="profile-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"/>
                    <span>Profile</span>
                </li>
                <li class="toggle-user" id="activities-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}" />
                    <span>Activities</span>
                </li>
                <li id="assessments-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"/>
                    <span>Assessments</span>
                </li>                
                <li id="log-out-button">
                    <ion-icon name="log-out"></ion-icon>
                    <span>Log Out</span>
                </li>
            </ul>
            
        </aside>
    
        <section>
            <!--Features here-->

        </section>
    </main>

    <!-- JavaScript file for dynamic behavior -->
    <script src="{{ url_for('static', filename='js/student-dashboard.js') }}"></script>
</body>
</html>
