<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kid Do Reads | Student Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-dashboard.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/stylish-icons/sparkle-01.svg') }}">
</head>
<body>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <header>
        <img src="{{ url_for('static', filename='images/stylish-icons/sparkle-01.svg') }}" alt="KidDoReads Logo">
    </header>

    <main>
        <aside>
            <section id="student-info">
                <img alt="Student Image" id="student_picture">
                <span id="student_name">Student</span>
            </section>

            <ul>
                <!-- Profile -->
                <li id="student-profile-button">
                    <img src="{{ url_for('static', filename='images/sidebar-icons/person.svg') }}" alt="Profile Icon">
                    <span>Profile</span>
                </li>

                <!-- Activities -->
                <li class="student-nav-item" id="student-activities-button">
                    <img src="{{ url_for('static', filename='images/sidebar-icons/paper-test.svg') }}" alt="Activities Icon">
                    <span>Activities</span>
                    <ion-icon name="chevron-down-outline" class="dropdown-arrow"></ion-icon>
                    <ul class="dropdown">
                        <li data-action="0">All Activities</li>
                        <li data-action="1">Audio Word Match</li>
                        <li data-action="2">Listen & Choose</li>
                        <li data-action="3">Sound-Alike Match</li>
                        <li data-action="4">Meaning Maker</li>
                        <li data-action="5">What Happens Next?</li>
                        <li data-action="6">Picture + Clues</li>
                    </ul>
                </li>

                <!-- Assessments -->
                <li class="student-nav-item" id="student-assessments-button">
                    <img src="{{ url_for('static', filename='images/sidebar-icons/progress-circle.svg') }}" alt="Assessments Icon">
                    <span>Assessments</span>
                    <ion-icon name="chevron-down-outline" class="dropdown-arrow"></ion-icon>
                    <ul class="dropdown">
                        <li data-action="0">All Assessments</li>
                        <li data-action="1">Audio Word Match</li>
                        <li data-action="2">Listen & Choose</li>
                        <li data-action="3">Sound-Alike Match</li>
                        <li data-action="4">Meaning Maker</li>
                        <li data-action="5">What Happens Next?</li>
                        <li data-action="6">Picture + Clues</li>
                    </ul>
                </li>

                <!-- Log Out -->
                <li id="log-out-button">
                    <ion-icon name="log-out"></ion-icon>
                    <span>Log Out</span>
                </li>
            </ul>
        </aside>

        <section>
            <div id="display-contents"></div>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/student-dashboard.js') }}"></script>
</body>
</html>