@import "variables.css";

main > section{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    flex-grow: 1;
    & > div {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
    }
    & > div > p{
        width: 100%;
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    & > div > p > img{
        height: 75%;
    }
    & > div > p > span{
        font-family: 'Regular-Poppins';
    }
}

#user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 1.5rem;
    padding: 2.7rem 1.5rem;
    background-color: var(--background-2);
    box-shadow: var(--box-shadow-1);
    position: relative;

    & > p{
        position: absolute;
        top: 0;
    }
}

#image-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;

    & > input {
        visibility: hidden;
        position: absolute;
        bottom: 0;
    }

    & > label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    & > p{
        font-size: 0.77rem;
        font-family: 'Regular-Poppins';
    }
}

#image-display{
    border: 2px solid var(--black-text);
    aspect-ratio: 1/1;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

#image-display:hover{
    opacity: 0.85;
}

#input-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.7rem;

    & > div > input{
        height: 40px;
        width: 250px;
        outline: none;
        border-radius: 2px;
        padding: 0 0.7rem;
        box-shadow: var(--box-shadow-1);
        font-family: 'Regular-Poppins';
        border: none;
    }

    & > :not(#submit-actions) > #password{
        padding-right: 2.1rem;
    }


    & > div > select{
        -webkit-appearance: none;
        -moz-appearance: none; 
        appearance: none; 
        background-color: var(--accent-color);
        background-image: url('../images/cusztomize-dropdown-select-1.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: right 10px center;
        height: 100%;
        outline: none;
        height: 40px;
        width: 170px;
        color: white;
        border-radius: 2px;
        padding: 0 0.7rem;
        box-shadow: var(--box-shadow-1);
        font-family: 'Regular-Poppins';
        border: none;
        cursor: pointer;

        & > option{
            background-color: white;
            color: var(--black-text);
            outline: none;
            cursor: pointer;
            border-collapse: collapse;

        }

    }
}

#email-password-container{
    position: relative
}

#email-password-container > ion-icon{
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
}

#unshowPasswordButton{
    display: none;

}

#submit-actions{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    gap: 1rem;
    height: 100%;
}

#submit-user-button{
    background-color: var(--primary-color);
    padding: 0.5rem 0;
    width: 80px;
    font-size: 0.80rem;
    border: none;
    border-radius: 3px;
    box-shadow: var(--box-shadow-1);
    font-family: 'Regular-Poppins';
    cursor: pointer;
}

#cancel-user-button{
    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem 0;
    width: 80px;
    font-size: 0.80rem;
    border: none;
    border-radius: 3px;
    box-shadow: var(--box-shadow-1);
    font-family: 'Regular-Poppins';
    cursor: pointer;
}

#filter{
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    background-color: white;
    background-image: url('../images/cusztomize-dropdown-select-2.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    height: 100%;
    outline: none;
    width: 170px;
    padding: 0.7rem 0.7rem;
    color: black;
    box-shadow: var(--box-shadow-1);
    font-family: 'Regular-Poppins';
    border: none;

    & > option{
        background-color: white;
        color: var(--black-text);
        outline: none;
        cursor: pointer;

    }
    

}

#table-container{
    flex-grow: 1;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead > tr{
    height: 4.0rem;
    color: black;
    background-image: var(--secondary-tertiary-color-1);
    position: sticky;
    top: 0;

    & > th{
        color: white;
        font-family: 'Light-Poppins';
        font-weight: normal;

    }
}

tbody > tr, tbody > tr > td > p{
    font-family: 'Light-Poppins';
}

tbody > tr:nth-child(odd){
    background-color: var(--background-1);
}

tbody > tr:nth-child(even){
    background-color: var(--background-2);
}

td{
    padding: 1rem 0;
    
}

.user-image-cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

td > p{
    text-align: center;
    outline: none;
    background: none;
    border: none;
    font-size: 0.87rem;
    overflow-wrap: break-word;
    
}

.upload-image-box{
    padding: 0.3rem;
}

.upload-image-box > label{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed;
    height: 100%;
    cursor: pointer;
    font-size: 0.87rem;
}

.action-buttons > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.edit-buttons{
    background-color: var(--primary-color);
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.83rem;
    border: none;
    border-radius: 3px;
    box-shadow: var(--box-shadow-1);
    font-family: 'Regular-Poppins';
    cursor: pointer;

}

#submit-user-button:hover, .edit-buttons:hover, #delete-input-container > aside > input:nth-child(1):hover{
    background-color: var(--primary-color-200);
}

#submit-user-button:hover, .edit-buttons:active, #delete-input-container > aside > input:nth-child(1):active{
    background-color: var(--primary-color-300);
}

.delete-buttons{
    background-color: var(--accent-color);
    color: white;
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.83rem;
    border: none;
    border-radius: 3px;   
    box-shadow: var(--box-shadow-1);
    font-family: 'Regular-Poppins';
    cursor: pointer;
}


#cancel-user-button:hover, .delete-buttons:hover,#delete-input-container > aside > input:nth-child(2):hover{
    background-color: var(--accent-color-200);
}

#cancel-user-button:hover, .delete-buttons:active,#delete-input-container > aside > input:nth-child(2):active{
    background-color: var(--accent-color-300);
}

.toggle-password{
    display: block;
}

.user-image-display{
    border-radius: 100%;
    aspect-ratio: 1/1;
    inline-size: 40px;
    object-fit: cover;
}

#delete-form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

#delete-input-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-content: center;
    padding: 2rem 3rem;
    gap: 3rem;
    background-color: var(--black-text);
    box-shadow: var(--box-shadow-1);

    & > p {
        font-family: 'Regular-Poppins';
        font-size: 1.3rem;
        color: white;
        text-align: center;
    }

    & > aside {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & > input:nth-child(1){
            background-color: var(--primary-color);
            width: 25%;
            padding: 0.7rem 0;
            font-size: 0.83rem;
            border: none;
            border-radius: 3px;
            box-shadow: var(--box-shadow-1);
            font-family: 'Regular-Poppins';
            cursor: pointer;
        }

        & > input:nth-child(2){
            background-color: var(--accent-color);
            color: white;
            width: 25%;
            padding: 0.7rem 0;
            font-size: 0.83rem;
            border: none;
            border-radius: 3px;   
            box-shadow: var(--box-shadow-1);
            font-family: 'Regular-Poppins';
            cursor: pointer;
        }

        
    }

}

@media screen and (max-width: 1580px){

    .action-buttons > div{
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 0;

        & > * {
            width: 60%;
        }
    }

}

@media screen and (max-width: 1455px){
    td > p{
        font-size: 0.75rem;
    }

}

@media screen and (max-width: 1209px){
    #input-box{
        width: 100%;
        height: auto;

        & > div{
            display: flex;
            width: 100%;
            gap: 0.8rem;

            & > input, & > select{
                width: 100%;
            }
        }

        & > div > #password{
            width: calc(100% - 1.6rem);
        }

    }

}

@media screen and (max-width: 1105px){
    #user-form{
        gap: 0.8rem;
        padding: 1.5rem;
    }

    thead > tr > th{
        font-size: 0.85rem;
    }


}

@media screen and (max-width: 936px){
    main > section{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        flex-grow: 1;
        & > div {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            width: 100%;
        }
        & > div > p{
            width: 100%;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            font-size: 0.9rem;
        }
    }

    #admin-info{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 0;

        & > img{
            inline-size: 30px;
            border-radius: 100%;
        }

        & > span{
            font-family: 'Regular-Poppins';
            color: black;
            font-size: 0.9rem;
        }
    }

    .toggle-user{
        background-color: transparent !important;
        box-shadow: none !important;
        border-bottom: solid 3px var(--secondary-color);
        border-radius: 0 !important;
    }
    #table-container{
        height: 700px;
    }

}
@media screen and (max-width: 772px) {
    #table-container {
        overflow-x: auto;
        width: 100%;
    }
    #table-container table {
        min-width: 650px; 
        width: 100%;
    }

    #delete-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }

    #delete-input-container{
        width: 400px;
        gap: 1rem;

        & > p {
            font-size: 1.1rem;
        }

        & > aside > *{
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px){
    #user-form{
        flex-direction: column;
    }
    #submit-actions{
        width: 100%;
    }

    #input-box > div > input, #input-box > div > select{
        font-size: 0.8rem;
    } 

    #delete-input-container{
        & > aside{
            gap: 1rem;
        }

        & > aside > input:nth-child(1), & > aside > input:nth-child(2){
            width: 100%;
        }
    }

}

@media screen and (max-width: 500px){

    #input-box > div{
        flex-direction: column;
    }

    #input-box > div:nth-child(1){
        flex-direction: row;
    }

    #input-box > div:nth-child(3) > #password{
        width: 100%;
    }

    #email-password-container > ion-icon{
        transform: translateY(119%);
    }

    #delete-form{
        padding: 0 1rem;
    }

    #delete-input-container{
        width: 100%;
        padding: 1.8buiybyubirem;
    }
}

