:root{
    --background: #f0efeb;
    --black-text: #474434;
    --primary-color: #fbc363;
    --accent-color: #fc664f;
    --primary-accent-color: linear-gradient(var(--primary-color), var(--accent-color));
    --linear-text-color: linear-gradient(to right, #ed9f10, var(--accent-color));
    --secondary-color: #f5e8da;
    --tertiary-color: #a46b28;
    --orange-300: #fa9939;
    --orange-400: #e87a00;
    --orange-500: #d76d00;
    --layout-padding: 0.7rem 5rem;
}

@font-face {
    font-family: 'Regular-Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Light-Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Bold-Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Medium-Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

main{
    background: var(--background) url('../images/kdr-logo.png') no-repeat;
    background-size: 700px;
    background-position-y: 106%;
    background-position-x: -1%;
    height: 100%;
    display: grid;
    place-content: center;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > span:nth-child(1){
        font-family: 'Light-Poppins';
    }

    & > span:nth-child(2){
        font-family: 'Medium-Poppins';
        font-weight: bold;
        font-size: 3rem;
        background-image: var(--linear-text-color);
        color: transparent;
        background-clip: text;

    }
}

form {
    width: auto;
    height: auto;
    background-image: var(--primary-accent-color);
    padding: 3rem 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

form > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    width: 20rem;
    border: none;
    border-radius: 100px;
    padding: 0 1.2rem;
    outline: none;
    height: 3rem;
    gap: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

form > div > input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Regular-Poppins';
    font-size: 1rem;
}

form > div > ion-icon{
    font-size: 1.2rem;
}

.displayPassword{
    display: block;
}

#unshowPasswordButton{
    display: none;

}

#login-button{
    background-color: var(--primary-color);
    width: 20rem;
    border: none;
    border-radius: 100px;
    padding: 0 1.2rem;
    outline: none;
    height: 3rem;
    font-family: 'Regular-Poppins';
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover{
        background-color: #f7bf5f;
    }

    &:active{
        background-color: #f1ba59;
    }
}

