@import "variables.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

main{
    background: var(--background) url('../images/mascot/kdr-mascot.png') no-repeat;
    background-size: 400px;
    background-position-y: 10%;
    background-position-x: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > span:nth-child(1){
        color: var(--black-text);
        font-family: 'Light-Poppins';
        text-align: center;
    }

    & > span:nth-child(2){
        text-align: center;
        font-family: 'Medium-Poppins';
        font-weight: bold;
        font-size: 3rem;
        background-color: var(--accent-color-orange);
        color: transparent;
        background-clip: text;

    }
}

form {
    width: auto;
    height: auto;
    background-image: var(--primary-accent-color-1);
    padding: 3rem 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

form > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    width: 20rem;
    border: none;
    border-radius: 100px;
    padding: 0 1.2rem;
    outline: none;
    height: 3rem;
    gap: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

form > div > input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Regular-Poppins';
    font-size: 1rem;
    color: var(--black-text);
}

form > div > ion-icon{
    font-size: 1.2rem;
}

.displayPassword{
    display: block;
}

#unshowPasswordButton{
    display: none;

}

#check-box-container{
    color: white;
    font-family: 'Light-Poppins';
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & > input{
        outline: none;
        cursor: pointer;
    }

    & > p {
        flex-grow: 1;
    }

}

#login-button{
    background-color: var(--accent-color-orange);
    width: 20rem;
    border: none;
    border-radius: 100px;
    padding: 0 1.2rem;
    outline: none;
    height: 3rem;
    font-family: 'Regular-Poppins';
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: white;

    &:hover{
        background-color: var(--success-color);
        color: white;
    }

    &:active{
        background-color: #f1ba59;
    }
}

@media screen and (max-width: 1200px){
    main{
        background-size: 400px;
    }
}

@media screen and (max-width: 500px){
    main{
        background-size: 200px;
        width: 100%;
        padding: 0 2rem;
        background-position-y: 100%;
    }
    #quote-container{

        & > span:nth-child(1){
            font-size: 0.9rem;
        }

        & > span:nth-child(2){
            font-size: 2rem;

        }
    }
    form{
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & > div, #check-box-container, #login-button {
            width: 100%;
        }
    }
}

@media screen and (max-width: 400px){
    form{
        & > div > input,#login-button {
            font-size: 0.9rem;
        }
    }
}

