:root{
    --background-1: #f0efeb;
    --background-2: #E8E1D7;
    --black-text: #47443F;
    --primary-color: #677C69;
    --primary-color-200: #40534D;
    --primary-color-300: #1A3637;
    --primary-color-700: #0f291d;
    --accent-color-teal: #6ECEDA;
    --accent-color-almond: #D6BC97;
    --tertiary-color-wood: #2D221D;
    --secondary-color: #FDAD16;
    --tertiary-color: #FF6428;
    --primary-accent-color-1: linear-gradient(var(--primary-color-200), var(--primary-color));
    --secondary-tertiary-color-1: linear-gradient(to right, var(--secondary-color) 70%, var(--tertiary-color));
    --box-shadow-1: 0 3px 5px rgba(0, 0, 0, 0.3); 
    --layout-padding: 0.7rem 5rem;
}

@font-face {
    font-family: 'Regular-Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Light-Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Bold-Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Medium-Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Extra-Light-Poppins';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Italic-Poppins';
    src: url('../fonts/Poppins-Italic.ttf') format('truetype');
}

/*updated font src*/