:root{
    --background-1: #f0efeb;
    --background-2: #ebe5d9;
    --black-text: #47443F;
    --primary-color: #fbc363;
    --primary-color-200: #f7bf5f;
    --primary-color-300: #f1ba59;
    --primary-color-700: #ed9f10;
    --accent-color: #fc664f;
    --accent-color-200: #f6553e;
    --accent-color-300: #f2523b;
    --secondary-color: #5C609D;
    --secondary-color-200: #4f538a;
    --tertiary-color: #F79B8A;
    --primary-accent-color-1: linear-gradient(var(--primary-color), var(--accent-color));
    --primary-accent-color-2: linear-gradient(var(--primary-color) 20%, var(--accent-color));
    --secondary-tertiary-color-1: linear-gradient(to right, var(--secondary-color) 70%, var(--tertiary-color));
    --box-shadow-1: 0 3px 5px rgba(0, 0, 0, 0.3); 
    --layout-padding: 0.7rem 5rem;
}

@font-face {
    font-family: 'Regular-Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Light-Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Bold-Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Medium-Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Extra-Light-Poppins';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Italic-Poppins';
    src: url('../fonts/Poppins-Italic.ttf') format('truetype');
}

/*updated font src*/