@import "variables.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Regular-Poppins';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding: 3rem 14rem;
}

.question-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #616161;
    border-radius: 1rem;

    & > .question{
        width: 700px;
        text-align: center;
        outline: none;
        border: none;
        border-bottom: 1px solid white;
        background: transparent;
        font-size: 2.5rem;
        color: white;

        &::placeholder{
            color: rgb(197, 197, 197);
            font-size: 2.5rem;
        }
    }
}

.choices-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 1rem 13rem;

    & > .choice-box{
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(182, 182, 182);
        height: auto;
        padding: 1rem;
        border-radius: 100px;

        & > *{
            font-size: 1.4rem;
            color: white
        }

        & > .choice{
            height: auto;
            outline: none;
            border: none;
            background: transparent;

            &::placeholder{
                color: rgb(233, 233, 233);
            }
        }

    }
}

.choice-toggle-hover:hover{
    cursor: pointer;
    background-color: rgb(151, 151, 151);

    & > *:hover{
        cursor: pointer;
    }
}

.answer-container{
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 13rem;
}

.answer-options{
    align-self: flex-end;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    & > label{
        font-size: 1.2rem;
    }
}

.button-container{
    display: flex;
    justify-content: space-between;
}

