<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What Happens Next?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/what-happens-next-template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">


</head>
<body>
 <!-- Ionicons script tags for module and nomodule support -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <div id="side-bar">
    <!-- <header>
            <img src="{{url_for('static', filename='images/kdr-logo.png')}}" />
            <span>Kid-Do-Reads</span>
        </header> -->

        <aside>
            <section id="teacher-info">
                <img alt="image" id="teacher_picture">
                <span id="teacher_name">Teacher</span>
            </section>
            <ul>
                <li class="toggle-user" id="activities-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}" />
                    <span>Activities</span>
                </li>
                <li id="assessments-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}" />
                    <span>Assessments</span>
                </li>                
                <li id="progress-record-button">
                    <img src="{{url_for('static', filename='images/circle-progress-indicator.png') }}" />
                    <span>Student Progress</span>
                </li>
                <li id="log-out-button">
                    <ion-icon name="log-out"></ion-icon>
                    <span>Log Out</span>
                </li>
            </ul>
            
        </aside>
    </div>
    
    <!-- content -->

    <section id="content">
        <header id="activity-title">
                <p id="activity-type">Reading Comprehension</p>
                <p id="game-type">What Happens Next?</p>
        </header>
        <div id="activity-content">
                <div id="passage-container">
                    <header id="passage-title">
                        <p id="title-text">Title:&nbsp;</p>
                        <p id="passage-title">Lorem Ipsum</p>
                    </header>
                    <p id="passage">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus viverra, justo at luctus varius, odio turpis ultrices nibh, 
                    nec vulputate tortor felis vel libero. Integer vitae sem sed orci 
                    pulvinar facilisis. Sed suscipit, ipsum in sagittis iaculis, metus 
                    lacus cursus risus, nec volutpat lorem elit nec quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus viverra, justo at luctus varius, odio turpis ultrices nibh, 
                    nec vulputate tortor felis vel libero. Integer vitae sem sed orci 
                    pulvinar facilisis. Sed suscipit, ipsum in sagittis iaculis, metus 
                    lacus cursus risus, nec volutpat lorem elit nec quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus viverra, justo at luctus varius, odio turpis ultrices nibh, 
                    nec vulputate tortor felis vel libero. Integer vitae sem sed orci 
                    pulvinar facilisis. Sed suscipit, ipsum in sagittis iaculis, metus 
                    lacus cursus risus, nec volutpat lorem elit nec quam.</p>
                </div>

                <p><span style="font-family: Bold-Poppins;">Instruction:&nbsp;</span>Choose what happens next in the story.</p>

                <div id="choices-container">
                    <button id="option-A">A.</button>
                    <button id="option-B">B.</button>
                    <button id="option-C">C.</button>
                </div>
            </div>
    </section>
    
    <script type=module src="{{ url_for('static', filename='js/what-happens-next-template.js') }}"></script>


    
</body>
</html>