@import "../variables.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body{
    height: 100%;
}

body{
    padding: 2.4rem;
    background-image: url('../../images/light-olive-circle.svg'), url('../../images/dark-green-circle.svg');
    background-position: -3% 100%, 100% 0%;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

header{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & > span {
        font-family: 'Medium-Poppins';
        font-weight: bold;
        font-size: 1.5rem;
        color: var(--accent-color-orange);
        background-clip: text;
    }

    & > img{
        height: 100%;
    }
    
}

main{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 2rem;
    min-height: 0;
}

main > aside{
    background-image: var(--primary-accent-color-1);
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 3rem 1rem;
    gap: 2rem;

    & > ul{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.6rem;
        width: 100%;
    }

    & > ul > li {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0.6rem 1rem;
        gap: 1.5rem;
        font-family: 'Light-Poppins';
        cursor: pointer;
        transition: transform 0.2s ease;

        & > span {
            font-size: 1rem;
            text-align: center;
            color: var(--accent-color-almond);
        }

        & > img{
            inline-size: 20px;
        }
    }

    & > ul > li:nth-last-child(2){
        margin-bottom: auto;
    }

    & > ul > #log-out-button {
        color: white;
        position: relative; 
    }
    
    & > ul > #log-out-button:hover::before{
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    & > ul > #log-out-button > ion-icon{
        font-size: 20px;
        color: white;
    }

    & > ul > #log-out-button > span{
        color: white;

    }

v
}

#admin-info, #student-info, #teacher-info{
    padding: 0 1rem;
    width: 100%;
    display: flex;
    gap: 1.2rem;

    & > img{
        inline-size: 44px;
        border-radius: 100%;
        height: 44px;
        width: 44px;
    }

    & > span{
        font-family: 'Regular-Poppins';
        color: var(--accent-color-almond);
        font-size: 1rem;
        display: grid;
        place-content: center;
    }

}

.toggle-user{
    border: 2px dashed var(--accent-color-almond); 
    color: var(--accent-color-almond);
    border-radius: 100px;
    box-shadow: var(--box-shadow-1);
}

#category-type {
    font-family: Medium-Poppins;
    color: var(--primary-color-300);
    font-size: 3rem;
    
}

main > aside > img{
    color: white;
    font-size: 2.4rem;

}

@media screen and (max-width: 1105px){
    body{
        padding: 1.7rem;
    }
    main{
        gap: 1.5rem;
    }
    main > aside {
        min-width: 260px;

        & > ul > li > span{
            font-size: 0.9rem;
        }
    }

    #admin-info, #student-info, #teacher-info{
        gap: 0.8rem;
        padding: 0 0.8rem;
        & > span{
            font-size: 0.9rem;
        }
    }

}

@media screen and (max-width: 936px){
    html, body{
        height: auto;
    }
    body{
        background-image: url('../../images/light-olive-circle.svg');
        background-position: -3% 100%;
        background-repeat: no-repeat;
        background-color: var(--background);
    }
    main{
        overflow: visible;
        flex-direction: column-reverse;
    }
    main > aside{
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-image: none;
        background-color: white;
        padding: 0;
        height: auto;

        & > ul{
            height: 80px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;

            & > li{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                gap: 0.10rem;
                padding: 0.5rem 0;
                padding: 0.5rem 0.5rem 0 0.5rem;

                & > span{
                    font-size: 12px;
                    color: var(--primary-color-300)
                }

                & > img{
                    inline-size: 17px;
                    filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2.7%) hue-rotate(230deg) brightness(95%) contrast(101%);
                }
            }

            & > li:hover{
                transform: none;
            }
            & > li:nth-last-child(2){
                margin: 0;
            }


            & > .navigator:hover{
                background-color: transparent !important;
                border: none !important;
                border-radius: 0 !important;
                color: inherit !important;
                box-shadow: none !important;
            }

            & > #log-out-button{
                & > ion-icon{
                    color: var(--accent-color);
                    font-size: 17px;
                    color: var(--secondary-color)
                }
                & > span{
                    color: black
                }
            }
        }
    }

    #admin-info, #student-info, #teacher-info{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 0;

        & > img{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            border: 0.13rem solid black;
        }

        & > span{
            font-family: 'Regular-Poppins';
            color: var(--primary-accent-color-1);
            font-size: 0.9rem;
            
        }
    }

    .toggle-user{
        background-color: transparent !important;
        box-shadow: none !important;
        border: none;
        border-bottom: solid 3px var(--secondary-color);
        border-radius: 0 !important;
    }

}

@media screen and (max-width: 768px){
    body{
        padding: 1rem;
    }

    main > aside > ul{

        & > li{
            & > span{
                font-size: 11px;
            }
        }

        & > #log-out-button{
            & > ion-icon{
                color: var(--accent-color);
                font-size: 20px;
                color: var(--secondary-color)
            }
        }
    
    }
}

