<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and responsive viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidDoReads</title>
    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/kdr-logo.png')  }}">
</head>
<body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <header>
        <img src="{{url_for('static', filename='images/kdr-logo.png')}}" />
        <span>Kid-Do-Reads</span>
    </header>

    <main>
        <aside>
            <section>
                <img alt="image" id="admin_picture">
                <span id="admin_name">Administrator</span>
            </section>
            <ul>
                <li id="admin-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"
                    <span>Admin</span>
                </li>                
                <li id="teacher-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"
                    <span>Teachers</span>
                </li>
                <li class="toggle-user" id="student-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"
                    <span>Student</span>
                </li>
            </ul>
            
            <p id="log-out-button">
                <ion-icon name="log-out"></ion-icon>
                <span>Log Out</span>
            </p>
        </aside>
    
        <section>
            <p> 
                <img src="{{url_for('static', filename='images/orange-add-button.svg')}}"/>

                <span>Add User Record</span>
            </p>
            <form id="main-form" action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
                <section id="user-form">
                    <div id="image-box">
                        <label for="image-input">
                            <img id="image-display" src={{url_for('static', filename="images/default_profile_picture.png")}}
                            />
                        </label>
                        <p>Enter Image</p>
                        <input type="file" id="image-input" name="image" accept="image/png, image/jpeg" value="Enter Image">
                    </div>
                    <div id="input-box">
                        <div>
                            <input type="text" id="id" name="id" placeholder="Enter User ID">

                            <select id="role" name="role">
                                <option value="">Role</option>
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
            
                        <div>
                            <input type="text" id="fname" name="fname" placeholder="Enter First Name">
                            <input type="text" id="lname" name="lname" placeholder="Enter Last Name">
                        </div>
            
                        <div id="email-password-container">
                            <input type="text" id="email" name="email" placeholder="Enter Email">
                            <input type="password" id="password" name="password" placeholder="Enter Password">
                            <ion-icon name="eye-outline" id="showPasswordButton"></ion-icon>
                            <ion-icon name="eye-off-outline" id="unshowPasswordButton"></ion-icon>
                        </div>
                    </div>
                    <div id="submit-actions">
                        <input type="submit" id="submit-user-button" value="Submit"/>
                        <input type="button" id="cancel-user-button" value="Cancel" hidden/>
                    </div>
                </section>
            </form>

            <form id="filter-form">
                <select id="filter" name="fiter">
                    <option value="default">Descending</option>
                    <option value="id">Ascending</option>
                </select>
            </form>
            <section id="table-container">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email/Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            
                            
                    </tbody>
                </table>
            </section>
        </section>
    </main>

    <!-- JavaScript file for dynamic behavior -->
    <script src="{{ url_for('static', filename='js/admin.js') }}" type=module></script>
</body>
</html>
