<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set character encoding and responsive scaling -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- Link to external CSS file for styling the login page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <!-- Import Ionicons for eye icons (used to toggle password visibility) -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <main>
        <form id="login-form" action="{{ url_for('login') }}" method="POST">
            <!-- Placeholder for logo -->
            <img src="" alt="logo">

            <div>
                <input type="text" id="id" name="id" placeholder="Enter your ID">
            </div>

            <!-- Input for password and toggle icons -->
            <div>
                <input type="password" id="password" name="password" placeholder="Enter your password">
                
                <ion-icon name="eye-outline" id="showPasswordButton"></ion-icon>
                <ion-icon name="eye-off-outline" id="unshowPasswordButton"></ion-icon>
            </div>

            <input type="submit" value="Login" id="login-button">
        </form>
    </main>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
