<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and responsive viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiddoReads</title>
    <!-- Link to external CSS file for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher-dashboard.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/kdr-logo.png')  }}">    
</head>
<body>
    <!-- Ionicons script tags for module and nomodule support -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <header>
        <img src="{{url_for('static', filename='images/kdr-logo.png')}}" />
        <span>Kid-Do-Reads</span>
    </header>

    <main>
        <aside>
            <section>
                <img src="" alt="image">
                <span>Teacher Name</span>
            </section>
            <ul>
                <li class="toggle-user" id="activities-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"
                    <span>Activities</span>
                </li>
                <li id="assessments-record-button">
                    <img src="{{url_for('static', filename='images/person.png') }}"
                    <span>Assessments</span>
                </li>                
                <li id="progress-record-button">
                    <img src="{{url_for('static', filename='images/circle-progress-indicator.png') }}"
                    <span>Student Progress</span>
                </li>
            </ul>
            
            <p id="log-out-button">
                <ion-icon name="log-out"></ion-icon>
                <span>Log Out</span>
            </p>
        </aside>
    
        <section>
            <p>Activities</p>
            <div id="content-container">

                <button id="add-content-button">
                    <span>Add New Activity</span>
                    <img src="{{url_for('static', filename='images/white-add-button.svg')}}" alt="add-button"/>
                </button>
            </div>

        </section>
    </main>

    <!-- JavaScript file for dynamic behavior -->
    <script src="{{ url_for('static', filename='js/teacher-dashboard.js') }}"></script>
</body>
</html>
